/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* vars */
section {
  overflow: hidden;
}

.container {
  max-width: 1159px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: Rubik;
  font-size: 0.75rem;
  color: #616161;
}

body.lock {
  overflow: hidden;
}

h1, h2 {
  font-family: Rubik;
  font-weight: 700;
  font-size: 3.6em;
  line-height: 126%;
  color: #000;
}
@media screen and (max-width: 460px) {
  h1, h2 {
    font-size: 2.5em;
  }
}

.none {
  display: none !important;
}

.header {
  background-color: #fafbfd;
  position: relative;
  z-index: 5;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 30%;
  max-width: 255px;
  background-color: #EC5863;
  border-radius: 30px 0 0 30px;
}
@media screen and (max-width: 875px) {
  .header::after {
    display: none;
  }
}
.header .text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}
.header .text-block span {
  color: #4285F4;
}
.header .text-block a {
  max-width: 140px;
  padding: 14px 29px;
  text-align: center;
  background-color: #EC5863;
  border-radius: 5px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 0.83em;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.header .text-block a:hover {
  background-color: #e2555e;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 875px) {
  .header .text-block {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
  position: relative;
}
@media screen and (max-width: 875px) {
  .header-top {
    padding: 10px 0;
  }
}

.logo {
  width: 140px;
}
@media screen and (max-width: 460px) {
  .logo {
    overflow: hidden;
    width: 40px;
    height: 40px;
  }
}
.logo img {
  width: 100%;
}
@media screen and (max-width: 460px) {
  .logo img {
    min-width: 140px;
    min-height: 40px;
  }
}

.nav-body {
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

@media screen and (max-width: 875px) {
  .nav-body {
    left: -100%;
    -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    width: 100vw;
    height: 100vh;
    background-color: #fafbfd;
    position: absolute;
    z-index: 10;
    top: 100%;
  }
  .nav-body .nav-list {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    font-size: 2em;
  }
  .nav {
    width: 100%;
  }
  .nav-body.opened {
    left: -10px;
  }
}
.nav {
  position: absolute;
  right: 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  height: 100%;
  font-family: Raleway;
  font-weight: 700;
  font-size: 0.83em;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.nav-item a {
  color: #000;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav-item a:hover {
  color: #EC5863;
}

.header-btn {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 1 auto;
          flex: 0.5 1 auto;
  text-align: right;
}
@media screen and (max-width: 875px) {
  .header-btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.download-link {
  padding: 14px 30px;
  background-color: #4285F4;
  border-radius: 5px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 0.83em;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.download-link:hover {
  background-color: #3a71cd;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.nav-btn {
  display: none;
}
@media screen and (max-width: 875px) {
  .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40px;
    margin-left: 10px;
  }
}
.nav-btn span {
  background-color: #EC5863;
  border-radius: 10px;
  height: 4px;
  margin: 5px 0;
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.nav-btn span:nth-of-type(1) {
  width: 50%;
}
.nav-btn span:nth-of-type(2) {
  width: 100%;
}
.nav-btn span:nth-of-type(3) {
  width: 75%;
}

.nav-btn.opened span:nth-of-type(1) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateZ(45deg) translate(8px, 0px);
          transform: rotateZ(45deg) translate(8px, 0px);
}
.nav-btn.opened span:nth-of-type(2) {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.nav-btn.opened span:nth-of-type(3) {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 50%;
  -webkit-transform: rotateZ(45deg) translate(30px, -11px);
          transform: rotateZ(45deg) translate(30px, -11px);
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  position: relative;
  padding-bottom: 48px;
  min-height: 533px;
}
.header-content .text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.header-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}
.header-img img {
  display: block;
  margin: auto;
}

.watch-video {
  position: absolute;
  left: 0;
  bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 875px) {
  .watch-video {
    bottom: 1%;
  }
}
.watch-video span {
  display: block;
  line-height: 1.26;
}
.watch-video .watch {
  color: #000;
  text-transform: uppercase;
}

.safe {
  padding: 79px 0;
}
.safe .text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}
.safe .text-block span {
  color: #EC5863;
}
.safe .text-block a {
  max-width: 140px;
  padding: 14px 29px;
  text-align: center;
  background-color: #EC5863;
  border-radius: 5px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 0.83em;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.safe .text-block a:hover {
  background-color: #e2555e;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 875px) {
  .safe .text-block {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
}
.safe .text-block {
  max-width: 379px;
}

.safe-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 10px;
}
.safe-content .text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.safe-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  margin: auto;
}
.safe-img .img-container {
  padding: 30px 0;
  position: relative;
  width: 340px;
  margin: auto;
}
.safe-img .img-container .decor {
  position: absolute;
  right: 0;
  bottom: 180px;
  border-radius: 30px;
  width: 77px;
  height: 77px;
  background-color: #EC5863;
  z-index: -1;
}
@media screen and (max-width: 460px) {
  .safe-img .img-container .decor {
    width: 60px;
    height: 60px;
    border-radius: 20px;
  }
}
.safe-img .img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 147px;
  height: 147px;
  background-color: #EC5863;
  z-index: -1;
}
@media screen and (max-width: 460px) {
  .safe-img .img-container::before {
    width: 100px;
    height: 100px;
  }
}
.safe-img .img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 32px;
  border-radius: 30px;
  width: 77px;
  height: 77px;
  background-color: #EC5863;
  z-index: -1;
}
@media screen and (max-width: 460px) {
  .safe-img .img-container::after {
    width: 45px;
    height: 45px;
    border-radius: 17px;
    left: 0;
  }
}
.safe-img img {
  width: 226px;
  margin: auto;
  display: block;
}

.experts {
  background-color: #fafbfd;
}
.experts .text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}
.experts .text-block span {
  color: #4285F4;
}
.experts .text-block a {
  max-width: 140px;
  padding: 14px 29px;
  text-align: center;
  background-color: #EC5863;
  border-radius: 5px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 0.83em;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.experts .text-block a:hover {
  background-color: #e2555e;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 875px) {
  .experts .text-block {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
}

.experts-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 53px 10px 80px 10px;
  z-index: 1;
}
@media screen and (max-width: 875px) {
  .numbers {
    padding: 15px 10px 20px 10px;
  }
}

.items {
  position: relative;
  padding: 28px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 10px;
  max-width: 700px;
  -webkit-box-shadow: 0 2px 24px 0 rgba(88, 126, 236, 0.15);
          box-shadow: 0 2px 24px 0 rgba(88, 126, 236, 0.15);
  background: #fff;
  border-radius: 16px;
}
.items .decor {
  position: absolute;
  z-index: -1;
  top: 0;
  -webkit-transform: rotate(8deg) translate(-100%, -28%);
          transform: rotate(8deg) translate(-100%, -28%);
  border-radius: 30px;
  width: 96px;
  height: 96px;
  background-color: #EC5863;
}
.items::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%) rotate(30deg);
          transform: translate(-50%, 50%) rotate(30deg);
  border-radius: 16px;
  width: 67px;
  height: 67px;
  background-color: #EC5863;
}
@media screen and (max-width: 460px) {
  .items::before {
    width: 50px;
    height: 50px;
  }
}
.items::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%) rotate(30deg);
          transform: translate(50%, 50%) rotate(30deg);
  border-radius: 30px;
  width: 127px;
  height: 127px;
  background-color: #EC5863;
}
@media screen and (max-width: 460px) {
  .items::after {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 460px) {
  .items {
    padding: 20px 15px;
  }
}

.item span {
  display: block;
  text-align: center;
  font-weight: 700;
}
.item .count {
  color: #EC5863;
  font-size: 3em;
  letter-spacing: 0.14em;
  margin-bottom: 5px;
}
.item .thing {
  color: #000;
  font-size: 0.92em;
  letter-spacing: 0.37em;
  text-transform: uppercase;
}

.text-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding-bottom: 116px;
}
@media screen and (max-width: 875px) {
  .text-video {
    padding-bottom: 30px;
  }
}
.text-video .video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  max-width: 514px;
}
.text-video .text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.video-link {
  width: 100%;
  height: 100%;
  padding: 25px 95px;
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 0 4px 18px 0 rgba(88, 126, 236, 0.18);
          box-shadow: 0 4px 18px 0 rgba(88, 126, 236, 0.18);
  background: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 460px) {
  .video-link {
    padding: 10px 40px;
  }
}
.video-link:hover .video-btn {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.video-cover {
  display: block;
  margin: auto;
  width: 100%;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}