/* vars */
$accent-color: #EC5863;
$accent-color_hover:#e2555e;
$blue: #4285F4;
$blue_hover: #3a71cd;
$text-color: #616161;
$white: #fcfdfe;
$background: #fafbfd;
$main-font: Rubik;
$secondary-font: Raleway;
$tablet: 875px;
$mobile: 460px;

section {
    overflow: hidden;
}

.container {
    max-width: 1159px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: $main-font;
    font-size: 0.75rem;
    color: $text-color;
}

@mixin mediaTablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mediaMobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}

h1, h2 {
    font-family: $main-font;
    font-weight: 700;
    font-size: 3.6em;
    line-height: 126%;
    color: #000;

    @include mediaMobile() {
        font-size: 2.5em;
    }
}

@mixin text-block ($color) {
    .text-block {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
    
        span {
            color: $color;
        }
    
        a {
            max-width: 140px;
            padding: 14px 29px;
            text-align: center;
            background-color: $accent-color;
            border-radius: 5px;
            font-family: $secondary-font;
            font-weight: 800;
            font-size: 0.83em;
            letter-spacing: 0.14em;
            color: $white;
            text-transform: uppercase;
            transition: all 0.2s ease-in;
    
            &:hover {
                background-color: $accent-color_hover;
                transform: scale(1.05);
            }
        }

        @include mediaTablet() {
            text-align: center;
            align-items: center;
            row-gap: 10px;
        }
    }
}

.none {
    display: none !important;
}